<div class="header-bg">
    <header class="topBar container df">
        <div class="logo">
            <a href="index.html" alt="眼鏡官網logo">眼鏡官網</a>
        </div>
        <ul class="topBar-list df">
            <li class="Bar-list-item"><a class="fz20" href="#">系列鏡框</a></li>
            <li class="Bar-list-item"><a class="fz20" href="#">門市據點</a></li>
            <li class="Bar-list-item"><a class="fz20" href="#">部落格</a></li>
            <li class="Bar-list-item"><a class="fz20" href="question.html">常見問題</a></li>
        </ul>
    </header>
</div>