header{
    padding: 25px 0;
	display: flex;
	flex-wrap: wrap;/**/
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	line-height: 30px;
}
.header-bg,.footer-bg{
	background: #aa0601;
}
.logo{
	width: 80px;
	height: 48.57px;
	background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
	display: block;/*因a是行內元素*/
	background-size: contain;/*logo完整顯示*/
	background-repeat: no-repeat; 
	transform:scale(1,1);transition: all 0.5s ease-out;

	/*以下是隱藏logo文字必寫*/
	text-indent: 101%;/*縮排*/
	overflow: hidden;
	white-space: nowrap;
}
.logo:hover{
	transform:scale(1.2,1.2);
	cursor: pointer;
}

.topBar-list{
	width: 402px;
	justify-content: space-between;
}
.Bar-list-item{
	width: 80px;
}
.Bar-list-item a:hover{
	background-color: white;
	color: #aa0601;
	padding: 10px 0;
}

