.ques-h2{
    text-align: left;
    border-left: solid 8px #9F1213;
    padding-left: 16px;
}


h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.question-item{
    margin-bottom: 32px;
}
.question{
    padding: 96px 0 48px 0;
}